body {
    background-color: #ecf4f3;
    font-family: "Roboto", sans-serif;
}

input,
label {
    display: block;
    margin: 1em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.page-heading {
    text-align: center;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  cursor: pointer;
  display: none;
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.form {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
    box-shadow: 0 4px 15px rgba(128, 128, 128, 0.48);
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    bottom: 0;
    margin: auto;
    text-align: center;
    transition: all 1s ease-in-out;
    width: 360px;
    height: 430px;
    z-index: 12;
}

.form>.div {
    text-align: left;
    box-sizing: border-box;
    padding: 8px;
    width: 360px;
}

.form input[type="text"],
input[type="number"] {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 18px;
    width: 90%;
}

.form label[for="read"],
input[type="checkbox"] {
    display: inline-block;
}

.book-list {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.book-item {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(128, 128, 128, 0.48);
    height: 470px;
    margin: 6px auto;
    position: relative;
    width: 198px;
    h4,
    p {
        font-family: "Roboto Condensed", sans-serif;
        padding: 0 8px;
    }
    p {
        font-size: 0.9rem;
        margin: 0;
    }
    .book-title {
        margin: 4px 0 0;
        font-size: 1.2rem;
        text-overflow: ellipsis;
    }
    .book-author {
        color: #007bff;
    }
    .book-pages {
        margin: 4px 0;
    }
}

.lib-container {
    text-align: center;
    width: 100%;
}

.button-form,
.submit {
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 16px 32px;
    transition-duration: 0.4s;
    margin: 0 auto;
    display: block;
}

.submit {
    display: block;
    margin: 0 auto 20px;
}

.button-form:hover,
.submit:hover {
    background-color: #007bff;
    color: white;
}

.book-cover {
    border-radius: 5px 5px 0 0;
    height: 300px;
    width: 198px;
}

.toggle-delete,
.toggle-read {
    background-color: white;
    border: none;
    bottom: 0;
    font-size: 1.2rem;
    height: 2.5em;
    padding: 0;
    position: absolute;
    width: 50%;
}

.toggle-read {
    border-radius: 0 0 0 5px;
    color: #007bff;
    left: 0;
    transition-duration: 0.4s;
}

.toggle-read:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.toggle-delete {
    border-radius: 0 0 5px 0;
    color: #dc3545;
    right: 0;
    transition-duration: 0.4s;
}

.toggle-delete:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}
